.container {
  width: 100%;
  border: 4px solid #333;
  background: white;
  font-family: "Roboto Mono", monospace;
}

.titleSection {
  padding: 1rem;
  border-bottom: 3px solid rgba(0, 0, 0, 0.521);
}

.titleSection h2 {
  font-family: "Roboto Mono", monospace;
  font-weight: 500;
}

.modelSection {
  padding: 0;
  background: white;
}

.descriptionSection {
  padding: 1rem;
  border-top: 3px solid rgba(0, 0, 0, 0.521);
}

.descriptionSection p {
  font-family: "Roboto Mono", monospace;
  line-height: 1.6;
}
